# ВАЖЛИВО:
local/
secrets.h
scr/test.html

# Ігнорування тимчасових файлів
.claude/

.pio/
.vscode/
00.pio/

data/
lib/
test/

# Ігнорування бінарних файлів прошивки
*.elf
*.hex
*.bin
*.log

# OS files
.DS_Store
Thumbs.dbs
test_native/build/
logs/
